@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');




.saving-account{
    font-size: 20px;
    font-family: 'Poppins';
}


.sav-type-ded{
    font-family: 'Poppins';
    color: red;
    font-weight: 500;
    font-size: 15px;
}
.sav-type-add{
    font-family: 'Poppins';
    color: rgb(0, 235, 0);
    font-weight: 500;
    font-size: 15px;
}

#card-save-gred-one{
    padding: 5px;
    background-image: linear-gradient(to right, #00D2FF , #3A7BD5);
    border-radius: 10px;
    /* margin: auto; */
  
}
#card-save-gred-one:hover{
    padding: 5px;
    background-image: linear-gradient(to right, #097c95 , #3A7BD5);
    border-radius: 10px;
    /* margin: auto; */
  
}


/* (A) HIDE CHECKBOX */
.togCheck { display: none; }
 
/* (B) HIDE CONTENT BY DEFAULT */
.togContent {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 1s;
}

.togCheck:checked + .togContent {
    max-height: 100vh; /* any insanely large number if a lot of contents */
    opacity: 1;
    visibility: visible;
  }

  /* (X) COSMETICS - DOES NOT MATTER */
/* (X1) ENTIRE DEMO */

   
  /* (X2) TOGGLE BUTTON */
  .togButton {
    display: block;
    width: 100%;
    padding: 10px;
    color: #fff;
    background-image: linear-gradient(to right, #00D2FF , #3A7BD5);
    cursor: pointer;
  }
   
  /* (X3) CONTENT */
  .togContent { background: #f4f6ff; }
  .togContent p {
    padding: 50px 10px;
    margin: 0;
  }

.sav-sec-account{
    font-family: 'Poppins';
    margin-top: 5px;
    font-weight: 600;
    color: #fff;
    font-size: 18px;
    margin-left: 5px;
}
.sav-sec-number{
    font-family: 'Poppins';
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}


#tr-hov:hover{
 background-color: #cbcbcb;
 cursor: pointer;
}

.wp-table tr:nth-child(odd) {
    background-color: #fff;
}

.wp-table tr:nth-child(even) {
    background-color: #f1f1f1;
}

.wp-table tr {
    border-bottom: 1px solid #ddd;
}

.wp-table th:first-child, 
.wp-table td:first-child {
    padding-left: 16px;
}


.wp-table td, 
.wp-table th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

.wp-table th {
    font-weight: bold;
}
 
.wp-table {
    font-size: 13px!important;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}